html, body {
  height: 100%;
  width: 100%;
}
.layout-header {
  display: block;
  width: 100%;
  height: 150px;
  background-color: gray;
  position: relative;
}
.layout-logo{
  display: inline;
  width: 150px;
  height: 150px;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0%)
}
.img-logo{
  width: 150px;
  height: 150px;
}
.layout-menu{
  display: inline;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: gray;
  border: none;
  text-align: center;
}
.img-menu{
  width: 100%;
  height: 100%;
}
.layout-header-righttop{
  position: absolute;
  float: right;
  right: 10px;
  top: 10px;
}
.layout-header-rightbot{
  float: right;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.layout-main{
  display: block;
  position: relative;
  background-color: #891414;
  height: 100%;
}